body{
   flex-direction: column;
    display: flex;
    border: 2px double black;
    background-color:aliceblue;
    
}
main{
  display:flex;
  flex-direction: row;
  flex: auto;
  width:100%;
}
header{
  width:100%;
}
article{
  float:left;
  width:66.67%;
  margin-right:20px;
  flex:2;
  overflow-y:auto;
  padding-top:50px;
  padding-left:50px;
}
aside{
  float:right;
  width:33.33%;
  margin-left:20px;
  flex:1;
  overflow-y:auto;
  padding-top:50px
}
li>a{
    text-decoration:none;
    color:beige;
}
a{
  text-decoration:none;
  color:cadetblue;
}

li{
    border:1px dashed black;
    display: inline-block;
    background-color:cadetblue;
    padding: 10px;
    border-radius:10px;
}
table{
    border: 1 solid black;
    border-collapse:collapse;
   
}

td{
    border:1px solid black;
    width:55px;
    border-collapse:collapse;
    
}
th{
    border:1px solid black;
    width:55px;
    border-collapse:collapse;
    font-weight:bold;
}
img{
  width:200px;
  height:200px;
  
  
}
footer{
  margin-top:40%;
}
.logo{
  width:100px;
  height:100px;
  padding:20px;
}
